<div class="bio-links">
	<a href="#" target="_blank" rel="noopenery">Twitter</a>
	<span>·</span>
	<a href="#" target="_blank" rel="noopener">LinkedIn</a>
	<span>·</span>
	<a href="#" target="_blank" rel="noopener">GitHub</a>
</div>
